<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>


    <h1>Weather App</h1>
  </div>

<button onClick="handleSignIn()">Login</button>
<form onSubmit="handleMessageFormSubmit()" action="#">
  Title:<br>
  <input id="post-title"><br>
  Body:<br>
  <textarea id="post-body"></textarea><br>
  <button>Submit</button>
</form>

<div class ="post-listing">
</div>

<input class="search" type="text" placeholder="Enter city name">
<button type="button" onClick="searchWeather()">Search</button>

<div class ="error-message">
</div>

<div class ="city">
</div>

<div class="temp">
</div>
</body>

</html>
